@use '@/styles/scss/abstracts/' as *;

.articleMain {
  text-align: center;

  .imageBox {
    height: 20vh;
    overflow: hidden;
    position: relative;
  
    .nextImage {
      object-fit: cover;
      border-radius: 2px;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
    .imageLink{
  
      &:hover {
        .nextImage {
          transform: scale(1.05);
          transition: transform 0.5s ease-in-out;
          //z-index: 10;
        }
      }
    }
  }

  .articleContent {
    padding: 0rem;
    margin: 0rem;

    h2 {
      font-size: 1em;
      color: $primaryColor;
    }
  }
}

.articleFooter {
  padding-bottom: 2rem;
  text-align: center;
}