@use "sass:color";
@use '@/styles/scss/abstracts/' as *;

.header {
  width: 100%;
  --h:8vh;
  height: var(--h);
  background-color: $primaryColor;
  padding: 0 2%;
  position: fixed; // Header will follow user scroll
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  flex-wrap: wrap;

  .brand {
    //font-size:clam(min(0.1rem,1.5rem),calc(15px + (60 - 42) * (100vw - 768px) / (1440 - 768)),max(1.5rem,2rem));
    //flex-shrink: 0;
    font-size: clamp(0.7rem, 1.5vw, 1.7rem);
    //font-size: 1.5rem;
    font-weight: 700;
    //text-transform: lowercase;
    color: color.adjust($brandColor, $lightness: 10%);
    &:hover {
      color: color.adjust($brandColor, $lightness: 35%);
    }

    .logoCore {
      color: $complementaryColor;
      &:hover {
        color: color.adjust($brandColor, $lightness: 35%);
      }
    }
  }

  nav {

     
    ul {
      
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: baseline;
      
    }
  
    li {
      margin-left: 1rem;  
    }
  
    a {
      color: $highlightColor;
      font-size: clamp(0.6rem, 1.2vw, 1.6rem);
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;

      span {
        font-weight: 700;
      }
  
      &:hover, &:active {
        color: color.adjust($brandColor, $lightness: 35%);
      }
    }
  }
}